@font-face {
  font-family: "scifi";
  /* src: url("../public/overthere.ttf") format("truetype"); */
  src: url("../public/525-SQUA.TTF") format("truetype");
}

.semi-circle {
  width: 200px;
  height: 100px;
  /* border-radius: 50% 50% 0 0 / 100% 100% 0 0; */
  border-radius: 200px 200px 0 0;
  /* background-color: black; */
}
